
Data/Datasets/ADEChallengeData2016/images/

Data/Datasets/ADEChallengeData2016/annotations/

Data/Datasets/ADEChallengeData2016/noisy_annotations_RGB/

Data/Datasets/ADEChallengeData2016/noisy_scores_RGB/

Data/Datasets/MITIndoor67/noisy_annotations_RGB/

Data/Datasets/MITIndoor67/noisy_scores_RGB/

Data/Datasets/MITIndoor67/train/

Data/Datasets/MITIndoor67/val/

Results/

__pycache__/

\.idea/

*.tar
